<h2>Testable Component</h2>
<div class="row-flex">
  <div class="box-item">
  <form (ngSubmit)="save()" #textboxForm="ngForm">
    <div> {{ formModel | json }} </div>
    <div id="parent-div" class="form-group">
      <div data-cy="textbox-container">
        <label for="the-textbox">A Writable Textbox</label>
        <textarea [(ngModel)]="formModel.testableTextbox" data-cy="the-textbox" id="the-textbox" name="testableTextbox" required></textarea>
      </div>
      <div id="results-container" *ngIf="formModel.testableTextbox || hasBeenSubmitted">
        <div><strong>The text you wrote in the textarea:</strong></div>
        <div data-cy="displayed-text">{{ formModel.testableTextbox }}</div>
        <button type="submit" [disabled]="!textboxForm.form.valid">Save</button>
      </div>
    </div>
  </form>
</div>
<div class="box-item">
  <div data-cy="stored-item-container">
    <table data-cy="stored-item-table">
      <thead>Currently Stored Items: <br /></thead>
      <tr>
        <th>Item Index</th>
        <th>Item</th>
      </tr>
      <tr *ngFor="let item of (items$ | async); let index=index" [attr.data-cy]="'item-number-' + index">
        <td [attr.data-cy]="'item-number-' + index + '-index'">{{index}}</td>
        <td [attr.data-cy]="'item-number-' + index + '-value'">{{item}}</td>
      </tr>
  </table>
  </div>
</div>
</div>
